{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Formulario de Atención{% endblock %}

{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="border p-4 bg-white rounded shadow-sm">
                <h2 class="mb-4 text-center">Formulario de Certificados</h2>

                <!-- Comienzo del formulario -->
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_atencion" class="form-label">Atención Realizada</label>
                        {{ form.id_atencion|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción Atención</label>
                        <!-- Mejorar la visibilidad de la descripción -->
                        {{ form.descripcion|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        {{ form.fecha_emision|add_class:"form-control" }}
                    </div>
                    <!-- Botón de submit -->
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </form>

                <!-- Enlace para cancelar -->
                <div class="text-center mt-3">
                    <a href="{% url 'certificados_list' %}" class="cancel-button">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}



