{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- FontAwesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Página Principal</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <div class="container">
            <a class="navbar-brand text-white" href="{% url 'home' %}">Clinica <i class="fa-solid fa-hospital"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto d-flex justify-content-between align-items-center">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link text-white font-weight-bold">
                            <p class="mb-0">Bienvenido, {{ request.user.nombre_usuario }} {{ request.user.rol }}</p>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Base de Datos
                    </div>
                    <div class="card-body">
                        <!-- Usamos 'row' para asegurar que los elementos estén bien alineados -->
                        <div class="row">
                            {% if user.rol == 'admin' %}
                                <!-- Para el admin: mostrar todas las opciones -->
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'usuario_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Usuarios <i class="fas fa-users"></i></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'medicos_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Medicos <i class="fas fa-user-md"></i></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'paciente_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Pacientes <i class="fa-solid fa-people-group"></i></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'atenciones_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Atenciones <i class="fa-solid fa-notes-medical"></i></h4>
                                        </div>
                                    </a>
                                </div>
                            {% elif user.rol == 'medico' %}
                                <!-- Para el medico: mostrar solo atenciones y pacientes -->
                                <div class="col-md-6 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'paciente_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Pacientes <i class="fa-solid fa-people-group"></i></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'atenciones_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Atenciones <i class="fa-solid fa-notes-medical"></i></h4>
                                        </div>
                                    </a>
                                </div>
                            {% elif user.rol == 'paciente' %}
                                <!-- Para el paciente: mostrar solo certificados -->
                                <div class="col-md-3 mb-3">
                                    <a class="text-decoration-none text-dark" href="{% url 'certificados_list' %}">
                                        <div class="card my-card shadow text-center p-3">
                                            <h4>Certificados <i class="fa-solid fa-file-waveform"></i></h4>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Graphs Section -->
    <div class="container">
        <div class="row my-5">
            {% if request.user.rol == 'admin' %}

            <!-- Sueldos de los Médicos Chart -->
            <div class="col-md-6">
                <div class="bg-white">
                    <h1 class="text-center">Sueldos de los médicos</h1>
                    <canvas id="sueldosChart" width="400" height="300"></canvas>
                </div>
            </div>

            <!-- Atenciones realizadas por los Médicos Chart -->
            <div class="col-md-6">
                <div class="bg-white">
                    <h1 class="text-center">Atenciones de este mes</h1>
                    <canvas id="atencionesMedicosChart" width="400" height="300"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- End Graphs Section -->

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


    <!-- Chart.js Script -->
    <script>
        // Sueldos de los Médicos Chart
        var sueldosMedicos = {{ sueldos|safe }};
        var nombresMedicos = {{ nombres_medicos|safe }};
        
        var ctxSueldos = document.getElementById('sueldosChart').getContext('2d');
        
        var sueldosChart = new Chart(ctxSueldos, {
            type: 'bar',
            data: {
                labels: nombresMedicos,
                datasets: [{
                    label: 'Sueldo ($)',
                    data: sueldosMedicos,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Sueldo ($)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Médicos'
                        }
                    }
                }
            }
        });

        // Atenciones Realizadas por los Médicos Chart
        var atencionesRealizadas = {{ atenciones_realizadas|safe }};
        
        var ctxAtenciones = document.getElementById('atencionesMedicosChart').getContext('2d');
        
        var atencionesMedicosChart = new Chart(ctxAtenciones, {
            type: 'bar',
            data: {
                labels: nombresMedicos,
                datasets: [{
                    label: 'Atenciones Realizadas',
                    data: atencionesRealizadas,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Número de Atenciones'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Médicos'
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>
