{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Formulario de Atención{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="border p-4 bg-white rounded shadow-sm">
                <h2 class="mb-4 text-center">Formulario de Atención</h2>

                <!-- Formulario -->
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <!-- Botón de guardar -->
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </form>

                <!-- Enlace de cancelación -->
                <div class="text-center mt-3">
                    <a href="{% url 'atenciones_list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
